<div class="home">
    <h2><strong>Introduction</strong></h2>
    
    <div class="portfolio-items">
      {% for post in site.portfolio %}
        <div class="portfolio-item">
          <h3>{{ post.title }}</h3>
          <img src="{{ post.image }}" alt="{{ post.title }}">
          <p>{{ post.description }}</p>
        </div>
      {% endfor %}
    </div>
    <p>안녕하세요. 저는 정재헌입니다.(꾸벅)</p>
    <p>현재 명지대학교 산업경영공학과에 재학중인 4학년 학생입니다.</p>
    <p>모쪼록 제 블로그 재밌게 즐겨주시기 바랍니다.</p>
    <p>감사합니다.👍🏻</p>
  </div>
  