.flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
} */
.profile-bio-wrapper {
    display: flex;           /* flex 레이아웃 사용 */
    justify-content: space-between;  /* 자식 요소들 사이에 최대한의 공간을 둠 */
    align-items: center;     /* 자식 요소들을 중앙에 정렬 */
}

.bio {
    text-align: right;        /* bio 내용을 왼쪽으로 정렬 */
}


.profile-section {
    text-align: left;        /* profile-section 내용을 오른쪽으로 정렬 */
    display: flex;           /* flex 레이아웃 사용 */
    flex-direction: row;     /* 자식 요소들을 가로 방향으로 배치 */
    align-items: center;     /* 자식 요소들을 중앙에 정렬 */
}

.profile-image {
    width: 170.7px; 
    height: 213.3px;
    /* border-radius: 50%;  원형 */
    margin-bottom: 10px; 
}

/* .profile-description {
    font-size: 14px; 
    color: #333; 
} */


html[data-theme="light"] .profile-description {
    color: rgb(1, 1, 95);
}


html[data-theme="dark"] .profile-description {
    color: rgb(247, 139, 139);
}
