.flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.profile-image {
    width: 170.7px; 
    height: 213.3px;
    /* border-radius: 50%;  원형 */
    margin-bottom: 10px; 
}

/* .profile-description {
    font-size: 14px; 
    color: #333; 
} */


html[data-theme="light"] .profile-description {
    color: rgb(1, 1, 95);
}


html[data-theme="dark"] .profile-description {
    color: rgb(247, 139, 139);
}
